# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html#container-units-container

[Unit]
Description=Immich machine learning container
After=local-fs.target

[Container]
AutoUpdate=registry
ContainerName=immich-machine_learning
Environment=UPLOAD_LOCATION="./library"
Environment=IMMICH_VERSION="release"
Environment=DB_HOSTNAME="immich-database"
#Environment=DB_PASSWORD="postgres" (Using podman secret)
Environment=DB_USERNAME="postgres"
Environment=DB_DATABASE_NAME="immich"
Environment=REDIS_HOSTNAME="immich-redis"
Image=ghcr.io/immich-app/immich-machine-learning:release
LogDriver=journald
Pod=immich.pod
# 🔒⬇️
Secret=immich-database-password,type=env,target=DB_PASSWORD
Volume=immich-machine_learning.volume:/cache

[Service]
# Restart service
Restart=on-failure
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

[Install]
# Start by default on boot
WantedBy=default.target

